<p>
<button class="new">New</button>

<form class="newEmployee hidden">
    <label>First Name:<input type="text" name="fname"/></label>
    <label>Last Name:<input type="text" name="lname"/></label>
    <label>Email:<input type="text" name="email"/></label>
    <label>Phone:<input type="text" name="phone"/></label>
    <div class="employers">
        <label>Employer: <input type="text" name="employer"/></label>
        <button class="addEmployer">+</button>
    </div>
    <input type="submit" value="Save"/>
</form>

</p>
<% _.each(employees,function(employee){ %>
<div class="employee" data-id="<%= employee.id %>">
    <form>
    <div>
        <button class="delete" data-id="<%= employee.id %>">Delete</button>
        <button class="edit" data-id="<%= employee.id %>">Edit</button>
        <input type="submit" class="save hidden" value="Save"/>
    </div>
    <% _.each(employee,function(prop, key){ %>
    <%
            if("id"==key) return;
    %>
    <%      if(_.isArray(prop)){ %>
        <div>
            <%= key %>
            <button class="addEntity hidden">+</button>
    <%      _.each(prop,function(entity){ %>
            <div class="entity prop" data-prop="<%= key %>"><%= entity %></div>
    <%      }) %>
        </div>
    <%      } else { %>
    <div class="prop" data-prop="<%= key %>"><%= prop %></div>
    <%      } %>
    <% }) %>
    </form>
</div>
<% }); %>

