.employee {
	display:inline-block;
	border:solid black 1px;
	min-height:250px;
	vertical-align:top;
}

.employee input[type="text"] {
	display:block;	
}

.newEmployee {
	display:inline-block;
	border:solid black 1px;
}
.newEmployee.hidden, .save.hidden, .addEntity.hidden {
	display:none;
}

.newEmployee > label {
	display:block;
}

.entity {
	margin-left:10px;
}

